@mixin add_font_style($weight, $size, $lineheight, $color) {
  color: $color;
  font: {
    weight: $weight;
    size: $size;
  }
  line-height: $lineheight;
}

@mixin respond($breakpoint) {
  @media (max-width: $breakpoint) {
    @content;
  }
}
